<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="listarUsuario()">
    <table>
        <thead>
            <tr>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Documento
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Edad
                </th>
                <th>
                    Direccion
                </th>
                <th>
                    Precio Dolar
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody id="contenido">

        </tbody>
    </table>
    
    <script src="../assets/js/listarDolar.js"></script>
    
</body> 
</html>